@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.slider-container{
    position: relative;
    height: 100%;
    width:100%;
    overflow: hidden;

}

.slider-wrapper .slider-item {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.slider-wrapper .slider-item::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter:grayscale(20%);
    background-image: url('images/img-1.jpg');
    background-size: cover;
    background-position: center;
}

.slider-wrapper .slider-item:nth-child(2):before {
    background-image: url('images/img-2.jpg');
}

.slider-wrapper .slider-item:nth-child(3):before {
    background-image: url('images/img-3.jpg');
}

.slider-wrapper .slider-item:nth-child(4):before {
    background-image: url('images/img-4.jpg');
}

.slider-wrapper .slider-item:nth-child(5):before {
    background-image: url('images/img-5.jpg');
}

.slider-wrapper .slider-item .slide-content {
    color: #fff;
    z-index: 20;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px 10px;
    max-width: 1400px;
    position: relative;
}

.slider-wrapper .slider-item .slide-content > *{
    max-width: 35%;
}

.slider-wrapper .slider-item .slide-subtitle{
    font-size: 1rem;
    font-weight: normal;
}

.slider-wrapper .slider-item .slide-title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 5px;
    text-transform: uppercase;
}

.slider-item .slide-content .slide-description{
    margin-top: 25px;
    line-height:25px;
}

.slider-item .slide-content .slide-button{
    color: #fff;
    width: 250px;
    padding: 13px 0;
    display: block;
    margin-top: 45px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #fff;
    transition: 0.5s ease;
}

.slider-item .slide-content .slide-button:hover{
    background-color: #fff;
    color: #000;
}

.slider-container .slider-controls{
    position: absolute;
    bottom: 45px;
    z-index: 20;
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
}

.slider-controls .slider-pagination {
    position: relative;
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1400px;
    justify-content: space-between;
}

.slider-pagination .slider-indicator {
    position: absolute;
    bottom: 0;
    border-bottom: 2px solid #fff;
    transition: 0.4s ease-in-out;
}

.slider-pagination .slider-tab {
    color: #fff;
    font-size: 0.85rem;
    cursor: pointer;
    font-size: 0.85rem;
    padding: 20px 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

}

